.welcome-gif {
    margin-top:50px;
    border-radius:5px;
    position: absolute;
    left: 15%;
    border:solid 2px #868686;
}

@media only screen and (max-width: 767px) {
    .welcome-gif {
        position: relative;
        max-width: 80%;
        left: 0px;
        margin-top: 0px;
    }
}

.social-proof {
    position: absolute;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:#fff;
    color:black;
    height: auto;
    padding:60px 10px 60px 10px;
    overflow: hidden;
}

.social-proof img {
    max-height: 80px;
    margin:20px 50px;
    max-width: 100px;
}

@media only screen and (max-width: 767px) {
    .social-proof {
        position: relative;
        top: 100% !important;
        bottom: auto !important;
    }
}

.build-tools {
    height: 280px;
    background-color: #a4a3a3;
    padding:75px 10px 60px 10px;
    text-align: center;
}
.build-tools h2 {
    color: #fff;
    font-size: large;
}
.build-tools img {
    height: 50px;
    margin:0px 50px;
}
.build-tools .logo {
    height: auto;
    max-width: 150px;
}

.features-row {
    margin:40px 0px;
}

.ui.vertical.stripe.segment {
    border-bottom:0px;
}

.pricing-sliders {
    width: 85%;
    margin: 40px auto 0 auto;
}

.pricing-row {
    padding: 0px 80px !important;
}

.sliders-value {
    font-size:2em;
}

.pricing-description {
    text-align: justify;
    text-justify: inter-word;
}

.feature-description {
    text-align: justify;
    text-justify: inter-word;
}

#more-features .item {
    display: inline-block;
    float:left;
}

.feature-images {
    border-radius:12px;
}

.feature-responsive {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .feature-normal {
        display:none !important;
    }

    .feature-responsive {
        display:block !important;
    }
}

.row > .column > a > img {
    max-width:100%;
}