<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <div class="item"><img src="/assets/images/logo.png" style="width: 9.5em"/></div>
      <div class="right menu">
        <a class="item" href="/#features">Features</a>
        <a class="item" href="/#pricing">Pricing</a>
        <a class="ui dropdown link item">
          Blog
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Agile</div>
            <div class="item">BDD</div>
            <div class="item">Engineering</div>
            <div class="item">Tips</div>
            <div class="item">Updates</div>
          </div>
        </a>
        <div class="item">
          <a class="ui inverted button">Try now</a>
        </div>
      </div>
    </div>
  </div>
</div>