<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <div class="item"><img src="/assets/images/logo.png" style="width: 9.5em"/></div>
      <div class="right menu">
        <a class="item" href="/#features">Features</a>
        <a class="item" href="/#pricing">Pricing</a>
        <div class="ui dropdown item">
          Blog
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/blog">All</a>
            <a class="item" href="/blog/agile">Agile</a>
            <a class="item" href="/blog/bdd">BDD</a>
            <a class="item" href="/blog/engineering">Engineering</a>
            <a class="item" href="/blog/tips">Tips</a>
            <a class="item" href="/blog/updates">Updates</a>
          </div>
        </div>
        <div class="item">
          <a class="ui inverted button">Try now</a>
        </div>
      </div>
    </div>
  </div>
</div>