<footer class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid" style="padding: 0px 50px">
      <div class="four wide column">
        <h4 class="ui inverted header">Get in touch</h4>
        <form id="mc-embedded-subscribe-form" action="/"></form>
        <p>
          Hindsight Software Ltd<br/>
          2a The Quadrant<br/>
          Upper High Street<br/>
          Epsom<br/>
          KT17 4RH
        </p>
        <p>+44 (0) 203 137 7674</p>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Social</h4>
        <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="twitter icon"></i> Twitter</a><br/>
        <a href="https://plus.google.com/+Hindsighttesting" target="_blank"><i class="google plus icon"></i> Google Plus</a><br/>
        <a href="https://www.linkedin.com/company/hindsight-software-ltd" target="_blank"><i class="linkedin icon"></i> LinkedIn</a><br/>

      </div>
      <div class="eight wide column">
        <h4 class="ui inverted header">{{ site.title }}</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Blog</a>
          <a href="#" class="item">Privacy Policy</a>
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Select a product
  </div>
  <div class="ui middle aligned stackable grid container">
    <div class="row features-row">
      <div class="eight wide left aligned column">
        <div class="ui one cards">
          <a class="blue card" onclick="handleCloudAction()">
            <h2 class="ui header">
              <i class="cloud icon"></i>
              <div class="content">
                Cloud
              </div>
            </h2>
            <p class="jira-cloud-modal">If you use JIRA Cloud, then you should choose Behave Pro Cloud. Be up and running at the click of a button and benefit from better User Stories straight away. We take care of the hosting, backups, and security with 99.9% uptime. It couldn’t be simpler.</p>
          </a>
        </div>
      </div>

      <div class="eight wide left aligned column">
        <div class="ui one cards">
          <a class="blue card" onclick="handleServerAction()">
            <h2 class="ui header">
              <i class="server icon"></i>
              <div class="content">
                Server
              </div>
            </h2>
            <p class="jira-server-modal">If you host JIRA on your own server, then choose Behave Pro server. Completely secure, we host on a Virtual Machine,meaning that we will never slow down or crash your JIRA instance. Plus, if anything happens to Behave Pro, JIRA will work as usual. Find out more about our installation process here.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>