<article class="ui segment" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <h2 class="ui header" itemprop="name">
        <div class="content">
            <a href="{{ post.url }}" itemprop="url">{{ post.title }}</a>
        </div>
    </h2>
    <section class="post-excerpt" itemprop="description">
        <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <div class="post-meta">
        <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
        <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
    </div>
</article>