<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="item" href="/">Home</a>
  <a class="item" href="/#features">Features</a>
  <a class="item" href="/#pricing">Pricing</a>
  <a class="active item" href="/blog/">Blog</a>
</div>

<div class="ui inverted vertical masthead center aligned segment blog-header">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="item" href="/"><img src="/assets/images/logo.png" style="width: 9.5em"/></a>
      <div class="right menu">
        <a class="item" href="/#features">Features</a>
        <a class="item" href="/#pricing">Pricing</a>
        <a class="item" href="/blog/">Blog</a>
        <div class="item">
          <a class="ui inverted button try-now">Try now</a>
        </div>
      </div>
    </div>
  </div>
</div>