<footer class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid" style="padding: 0px 50px">
      <div class="four wide column">
        <h4 class="ui inverted header">Get in touch</h4>
        <p>
          Hindsight Software Ltd<br/>
          2a The Quadrant<br/>
          Upper High Street<br/>
          Epsom<br/>
          KT17 4RH
        </p>
        <p>+44 (0) 203 137 7674</p>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Social</h4>
        <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="twitter icon"></i> Twitter</a><br/>
        <a href="https://plus.google.com/+Hindsighttesting" target="_blank"><i class="google plus icon"></i> Google Plus</a><br/>
        <a href="https://www.linkedin.com/company/hindsight-software-ltd" target="_blank"><i class="linkedin icon"></i> LinkedIn</a><br/>

      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">{{ site.title }}</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Blog</a>
          <a href="#" class="item">Privacy Policy</a>
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">{{ site.title }} &copy; 2015</h4>
        <p>Founded in 2012 by Alan Parkinson based on his experiences as a consultant on Agile software projects. Larger organisations were using additional tools to support their agile development processes and these didn't fit well when adopting BDD. This problem was the inspiration for Hindsight Software and all the tools are distilled from this real world project experience of applying BDD.</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>