<div class="ui inverted vertical center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <div class="item"><img src="/assets/images/logo.png" style="width: 9.5em"/></div>
            <div class="right menu">
                <a class="item" href="/#features">Features</a>
                <a class="item" href="/#pricing">Pricing</a>
                <a class="item" href="/blog/">Blog</a>
                <div class="item">
                    <a class="ui inverted button try-now">Try now</a>
                </div>
            </div>
        </div>
    </div>
</div>