<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    {% include sidebar-menu.html %}
</div>

<div class="ui inverted vertical center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="item" href="/"><img src="/assets/images/logo.png" style="width: 9.5em"/></a>
            {% include main-menu.html inverted="true" %}
        </div>
    </div>
</div>