


.post {

  h1, h2, h3, h4, h5, h5 {
    color: #1A243A;
  }

  pre, code {
    background-color: #eeeeee;
    overflow-x: hidden;
  }

  blockquote {
    color: #868686;
    border-left: 4px solid $brand-light-blue;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
  }

  .post-header {

    h1 {
      color: $brand-light-blue;
      margin-top: 1em;
    }

    time {
      font-size: 12px;
      margin-left: 20px;
      float: right !important;
    }

    img.post-image {

    }

    .author {
      font-size: 14px;

      img {
        margin: -45px 10px 0 0;
        border-radius: 50%;
        border: solid 3px #fff;
        width: 80px;
        z-index: 9;
      }
    }

    .author-name {
      color: $brand-light-blue;
    }
  }
}

.product-blog-cta-container {
  position: fixed;
  top: -200px;
  height: 70px;
  background-color:#fff;
  left: 0px;
  width: 100%;

  border-bottom: 1px solid #e4e4e4;

  .product-cta {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    padding:20px 0;
  }
}

.share-widget-container-fixed {
  /*hide the window*/
  position: fixed;
  bottom: -200px;
  height: 70px;
  background-color:#fff;
  left: 0px;
  width: 100%;

  border-top: 1px solid #e4e4e4;

  .share {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;

    padding:20px 0;
    a {
      text-decoration: none;
      color: #bbb;
      padding-left: 12px;
      .hidden{
        display:none;
      }
      &:hover {
        color:#333;
      }
    }
  }

  form {
    position: absolute;
    top: 15px;
    right: 20px;
    display: inline-block;

    label {
      display: none;
    }

    p {
      float: none;
      display: inline-block;
      position: relative;
    }
  }
}