body {
    background-color: #1A243A;
}
.segment.white {
    background-color: #fff !important;
    padding: 40px 0px 40px 0px;
}


.ui.header i {
    color: #868686;
    font-size: 16px;
}



.masthead.segment {
    min-height: 0 !important;
}