body {
    background-color: #1A243A;
}
.segment.white {
    background-color: #fff !important;
    padding: 18px 0px 40px 0px;
}


.ui.header i {
    color: #868686;
    font-size: 16px;
}



.masthead.segment {
    min-height: 0 !important;
}

.post img {
    max-width: 100%;
    max-height: 400px;
}

.post-image {
    width: 100%;
    text-align: center;
}

.excerpt .image {
    text-align: center;
}
.excerpt img {
    max-width: 100%;
    max-height: 400px;
}

.pagination {
    float: left;
}
.rss-subscribe {
    float: right;
}

.blog-header {
    height:64px;
    padding-top: 3px !important;
}
.blog-header .right.menu a.item {
    top: -2px;
}

@media only screen and (max-width: 767px) {
    .blog-header {
        height:50px;
        padding-top: 0px;
    }
}

.post-meta {
    float: right;
}

p.input {
    margin-left: 1em;
}