<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include blog-header.html %}

    <div class="ui vertical segment white">
        <div class="ui container">
            <h1 class="page-heading">{{ page.type }}</h1>

            {{ content }}

            {% for post in site.categories.[page.type] %}
            {% include blog-post-excerpt.html %}
            {% endfor %}

            <p class="rss-subscribe">subscribe <a href="{{ "/blog/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
    </div>

    {% include blog-footer.html %}

    {% include javascript.html %}
  </body>

</html>
