<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include blog-header.html %}

    <div class="ui vertical segment white">
        <div class="ui container">
            <div style="text-align: right">
                <div class="ui dropdown item">
                    {{ page.type }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% for category in site.categories %}
                            {% unless category contains page.type %}
                                <a class="item" href="/blog/{{ category | first }}">{{ category | first }}</a>
                            {% endunless %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {{ content }}

            {% for post in site.categories.[page.type] %}
            {% include blog-post-excerpt.html %}
            {% endfor %}

            <p class="rss-subscribe">subscribe <a href="{{ "/blog/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
    </div>

    {% include blog-footer.html %}

    {% include javascript.html %}
  </body>

</html>
