---
layout: blog
---
{% assign author = site.authors[page.author] %}
<article class="ui container post">

  <header class="post-header">
      <img class="post-image" src="//dc8hdnsmzapvm.cloudfront.net/assets/images/blog/categories/advanced-seo.png?74da3a3">
      <section class="author">
              {% if author.author_image %}
              <img src="{{ author.author_image }}" alt="{{ author.display_name }}"/>
              {% endif %}
              By: <span class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.display_name }}</span>

              <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
      </section>
      <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post-content">
    {{ content }}
  </section>

    <section class="share-widget-container-fixed">
        <div class="share">
            {% for social in site.social %}
            {% if social.share_url != null %}
            <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <form action="//storyiq.us2.list-manage.com/subscribe/post?u=1161fa9d724126772d2e04bc1&amp;id=7fdf7fd767" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="signup-form validate" target="_blank" novalidate>
            <p>Receive tips straight to your inbox </p>
            <p>
                <label for="signup_email">Email Address</label>
                <div class="ui input"><input type="email" name="EMAIL" id="signup_email" placeholder="Email Address" value="" class="error" /></div>
                <input type="hidden" value="1" name="group[20577][1]" id="mce-group[20577]-20577-0"/>
                <input type="hidden" value="4" name="group[20577][4]" id="mce-group[20577]-20577-2"/>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_1161fa9d724126772d2e04bc1_7fdf7fd767" tabindex="-1" value=""></div>
            </p>
            <p class="button"><input type="submit" name="" value="Subscribe" class="ui button"></p>
            <p class="response" id="mce-success-response" style="display:none"></p>
            <p class="response" id="mce-error-response" style="display:none"></p>
        </form>
    </section>

    <section class="product-blog-cta-container">
        <div class="product-cta">
            THE WORLD'S SMARTEST COMPANIES USE BEHAVE PRO <a href="#">SEE WHY</a>
        </div>
    </section>

</article>
